body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header h1 {
  color: #0073e6;
}

#video-container {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

video {
  width: 500px;
  height: 400px;
  background-color: black;
  border: 2px solid #0073e6;
  border-radius: 10px;
}

#controls {
  display: flex;
  gap: 10px;
}

#local-video {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1); /* For Safari */
  width: 45%;
  margin-right: 5%;
}

/* Optionally flip the remote video horizontally */
#remote-video {
  /* Uncomment the following lines to flip the remote video as well */
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  width: 45%;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
}

#startChat {
  background-color: #0073e6;
  color: white;
}

#nextChat {
  background-color: #f0ad4e;
  color: white;
}

#endChat {
  background-color: #d9534f;
  color: white;
}
